environment:
  matrix:
    - nodejs_version: "7"
    - nodejs_version: "8"
    - nodejs_version: "9"

os: Visual Studio 2015
platform: x64

cache:
  - node_modules


install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - npm test

build: off